@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}

/* common style... */
.primary-btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 40px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin: 32px 0px 50px 0px;
}
/* common style... */


/* Header style here... */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav > ul {
    display: flex;
}
nav li{
    list-style-type: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    color: #424242;
}
/* Header style here... */

/* banner style here... */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
/* banner style here... */