@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.laptop {
    background-image: url(../images/laptop.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0% 15%, 62% 96%, 0 5%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.laptop>h1 {
    color: aqua;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 10px;
    padding-top: 20px;
    letter-spacing: 5px;
}

.description,
#laptop-type {
    width: 80%;
    margin: 20px auto;
    background-color: bisque;
    padding: 20px;
    border: 5px solid green;
    border-radius: 5px;
    font-size: 20px;
    background: linear-gradient(45deg, rgb(255, 141, 236), rgb(62, 201, 236));
}

.description>h1,
#laptop-type h2 {
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.description>p {
    font-size: 28px;
}

.description p .imp {
    font-size: 2em;
    display: inline-block;
    width: 400px;
}

.laptop-images {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
}

.laptop-images div {
    min-width: 300px;
}

.laptop-images div img {
    width: 100%;
    height: 300px;
}

/* Developer portfolio css here.... */
.primary-text {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
}

.nav-title {
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav {
    display: flex;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style-type: none;
    margin-right: 50px;
}

nav>ul>li>a {
    text-decoration: none;
    color: #474747;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}